@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-rgb: 214, 219, 220;
	--foreground-rgb: 0, 0, 0;
	height: 100%;
	font-family: 'Inter', sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-rgb: 0, 0, 0;
		--foreground-rgb: 255, 255, 255;
	}
}

body {
	background: rgb(var(--background-rgb));
	color: rgb(var(--foreground-rgb));
	height: 100%;
	overflow-y: hidden;
}

#app {
	height: 100%;
}

@layer utilities {
	.content-grid {
		--padding-inline: 1rem;
		--content-max-width: 1200px;
		--breakout-max-width: 1440px;

		--breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

		display: grid;
		grid-template-columns:
			[full-width-start] minmax(var(--padding-inline), 1fr)
			[breakout-start] minmax(0, var(--breakout-size))
			[content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width))
			[content-end]
			minmax(0, var(--breakout-size)) [breakout-end]
			minmax(var(--padding-inline), 1fr) [full-width-end];
	}

	.content-grid > :not(.breakout, .full-width),
	.full-width > :not(.breakout, .full-width) {
		grid-column: content;
	}

	.content-grid > .breakout {
		grid-column: breakout;
	}

	.content-grid > .full-width {
		grid-column: full-width;

		display: grid;
		grid-template-columns: inherit;
	}

	.box {
		display: -webkit-box;
	}
}

*::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	background-color: #222;
}

*::-webkit-scrollbar {
	width: 6px;
}

*::-webkit-scrollbar-thumb {
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #555;
}
